/* @import url("bootstrap-extended.min.css"); */
/* @import url("colors.min.css"); */
/* @import url("components.min.css"); */

/* Style the navbar */
#navbar {
  overflow: hidden;
  width: 100%;
  /* background-color: #9a7eda; */
  background-color: #1f2130;
  margin-top: 0px;
  margin-bottom: 0px;
  position: sticky;
  z-index: 9;
  /* border: #ffffff; */
  /* display: inline-block; */
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.34);
}

/* Navbar links */
#navbar h2 {
  float: inline-start;
  display: block;
  color: #f2f2f2;
  margin-top: 25px;
  font-size: medium;
  flex-wrap: wrap;
}

.navBarIcon {
  padding: 5px;
  margin-left: 5px;
  /* margin-bottom: 5px; */
}

.title {
  vertical-align: top;
  text-align: left;
  font-size: medium;
}

.value {
  font-weight: bold;
  font-size: larger;
}

.value img {
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 1.8em;
  height: 1.8em;
}

.block-content {
  text-align: left;
}

#navbar img {
  padding: 14px;
  width: 70px;
  height: 70px;
}

/* Page content */
.content {
  padding: 16px;
}

.overview {
  padding: 10px 0px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1a1c29;
  color: #fff;
}

.App-link {
  color: #fff;
}

.statistics2 {
  background-color: #1f2130;
  border-radius: 30px;
  max-height: 650px;
  /* max-width: 200px; */
  padding: 35px;
  margin: 15px 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.034);
}

.action-buttons {
  /* padding: 100px; */
  margin: 0px 650px;
}

.radar-chart {
  height: 400px;
  width: 300px;
  padding: 0px;
  margin: 0px;
  /* position: relative; */
  /* align-items: center; */
  /* justify-content: center; */
  /* flex-wrap: wrap; */
  transition: 0.3s;
}

.daily_summary {
  background-color: #1f2130;
  border-radius: 30px;
  max-height: 650px;
  /* max-width: 200px; */
  padding: 5px;
  margin: 15px 15px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.034);
}

.chartLine {
  height: 500px;
}

.chartBar {
  height: 400px;
}

.statistics {
  background-color: #1f2130;
  border-radius: 30px;
  min-height: 150px;
  max-width: 200px;
  padding: 35px;
  margin: 35px auto;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.3s;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.034);
}

.card-content {
  background-color: #1a1c29;
}

.card-body {
  background-color: #1f2130;
  border-radius: 30px;
}

.statistics:hover {
  background-color: rgba(31, 217, 154, 0.4);
  /* cursor: pointer; */
}

.balance {
  color: #ff79c6;
  font-size: 22px;
  font-weight: bold;
}

.credit {
  color: #50fa7b;
  font-size: 22px;
  font-weight: bold;
}

.debit {
  color: #ff5555;
  font-size: 22px;
  font-weight: bold;
}

.average-spending {
  color: #8be9fd;
  font-size: 22px;
  font-weight: bold;
}

.statistic-number {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

html {
  /* overflow: scroll; */
  overflow-x: hidden;
  background-color: #f3f3f3;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.container-table100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: black; */
  flex-wrap: wrap;
  /* padding: 15px 15px 5px 15px;
   */
  padding: 15px 0px;
}

.table-responsive {
  max-height: 250px;
  /* border-radius: 5px; */
  /* border: 1px solid rgba(0, 0, 0, 0.034); */
  /* box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.034); */
}

td {
  border: none;
}

/* .table-responsive {
  border: 1px solid #ffffff;
} */

table {
  /* border-spacing: 1; */
  border-collapse: collapse;
  background: #1f2130;
  /* border: 1px solid #ffffff; */
  /* border: 1px solid black; */
  /* border-radius: 44px; */
  width: 100%;
  height: 20%;
  margin: 0 auto;
  position: relative;
}

table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 50px;
  background: #9a7eda;
  position: sticky;
  top: 0;
}
table tbody tr {
  scroll-behavior: auto;
  height: 40px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.034);
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  position: sticky;
  top: 0;
  background: #1f2130;
}

tbody tr {
  font-family: Arial;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  transition: 0.3s;
}

body {
  background-color: rgba(240, 240, 240, 0.5);
}

tbody tr:hover {
  background-color: rgb(37, 39, 60);
  /* border-radius: 25px; */
  /* cursor: pointer; */
}

.column1 {
  width: 260px;
  padding-left: 40px;
}

.column11 {
  width: 260px;
  padding-left: 40px;
}

.column2 {
  color: #00ba9c;
  width: 200px;
}

.column22 {
  color: #00ba9c;
  width: 360px;
}

.column3 {
  color: #e64954;
  width: 245px;
}

.column4 {
  color: #fdba49;
  width: 110px;
  padding-right: 40px;
}

.column5 {
  color: #fdba49;
  width: 170px;
  padding-right: 40px;
}

@media screen and (max-width: 992px) {
  table {
    display: block;
    border: none;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    position: sticky;
    top: 0;
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
    display: block;
    overflow: auto;
  }
  table tbody tr td {
    padding-left: 40% !important;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-family: OpenSans-Regular;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }

  .column4 {
    text-align: left;
  }

  .column4,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }
}
